body{
    background-color: #212121;
    color:white;
}

.box{
    background-color: #7bf8e9;
    border-radius: 12px;
    color:black;
}

.main{
    margin:auto;
    margin-top: 15%;
}

.form-control{
    background-color: #212121;
    border:black;
    color:white;
}

#loginBox{
    color:black;
    background-color: #7bf8e9;
    height: 600px;
    width: 500px;
    margin:auto;
    margin-top: 25%;
    border-radius: 12px;
}